@import "tailwindcss";

body {
    @apply bg-[#121212] text-white text-base py-4 px-2;
    font-family: "Montserrat"
}
input[type=checkbox] {
    @apply rounded
}

.period-container {
    @apply flex flex-col;
} 
.period-entry {
    @apply border-b border-gray-300 py-2;
}
.period-number {
    @apply font-bold mb-2;
}
.lesson-container {
    @apply flex flex-wrap gap-x-4 gap-y-4 pl-4;
}
.lesson-details {
    @apply flex flex-col gap-y-1 p-2 bg-blue-400 text-black border-s-4 border-blue-700 rounded min-w-24;
}
.subject {
    @apply font-semibold;
}
.teacher {
    @apply text-sm;
}
.room {
    @apply text-sm;
}
.info {
    @apply text-xs italic;
}
.info, .changed {
    @apply px-1 py-0.5 bg-rose-600 text-white w-fit rounded;
}

#class-selection {
    @apply grid grid-cols-2 gap-y-1 w-[300px] gap-x-1 h-fit
}
.class-option {
    @apply bg-blue-700 text-nowrap px-4 py-2 rounded cursor-pointer min-w-fit
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #505050 transparent;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #505050;
    border-radius: 10px;
  }
  *::-webkit-scrollbar-thumb:hover {
    background: #333333;
  }
  *::-webkit-scrollbar-thumb:active {
    background: #333333;
  }
  *::-webkit-scrollbar-button {
    width: 7px;
    height: 7px;
  }