@import "tailwindcss";

body {
    @apply bg-[#121212] text-white text-base py-4 px-2;
    font-family: "Montserrat"
}
input[type=checkbox] {
    @apply rounded
}

.period-container {
    @apply flex flex-col;
} 
.period-entry {
    @apply border-b border-gray-300 py-2;
}
.period-number {
    @apply font-bold;
}
.lesson-container {
    @apply flex;
}
.lesson-details {
    @apply ml-4;
}
.subject {
    @apply font-semibold;
}
.subject.changed{
    @apply text-red-600 font-semibold;
}
.teacher {
    @apply text-sm;
}
.teacher.changed{
    @apply text-red-600 font-semibold;
}
.room {
    @apply text-sm;
}
.room.changed{
    @apply text-red-600 font-semibold;
}
.info {
    @apply text-sm text-red-600 italic;
}
.changed {
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #505050 transparent;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #505050;
    border-radius: 10px;
  }
  *::-webkit-scrollbar-thumb:hover {
    background: #333333;
  }
  *::-webkit-scrollbar-thumb:active {
    background: #333333;
  }
  *::-webkit-scrollbar-button {
    width: 7px;
    height: 7px;
  }